<%= simple_form_for @objective do |f| %>

<p>
    <%= f.label :任务名称 %><br>
    <%= f.text_field :name %>
</p>
<br>
<p>
    <%= f.label :计划完成日期 %>:<br>
    <%= f.date_field :f_date%>
</p>
<br>
<p>
    <%= f.label :任务一 %><br>
    <%= f.text_field :task %>
</p>
<br>
<p>
    <%= f.label :任务二 %><br>
    <%= f.text_field :second %>
</p>
<br>
<p>
    <%= f.label :任务三 %><br>
    <%= f.text_field :third %>
</p>
<br>
<p>
    <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>
</p>
<% end %>
