<div id="objective_content">

    <h1 class="title">
        <%= @objective.name %>
    </h1>

    <div class="pull-right">
        <button class="button"><%= link_to '任务变更', edit_objective_path(@objective) %></button>
    </div>

    <p class="date">
        Submitted
        <%= time_ago_in_words(@objective.created_at) %>
        Ago
    </p>

    <p class="body">
        <%= @objective.task %>
    </p>
    <p class="body">
        <%= @objective.second %>
    </p>
    <p class="body">
        <%= @objective.third %>
    </p>

</div>

<hr>

<div id="objective_content">
    <%= link_to '任务开始', new_objective_post_path(@objective), class: "btn btn-primary" %>
    <%= link_to '完成情况', objective_posts_path(@objective), class: "btn btn-primary" %>
    <br>
    <tr>
    </tr>

    <br>
    <h4>
        已完成<%= @objective.posts.count %>步，距离完成目标还有<%= 10 - @objective.posts.count %>步
    </h4>
</div>
