<div id="objective_content">

    <h1 class="title">
        <%= @objective.name %>
    </h1>
    <% if current_user && current_user == @objective.user %>
    <div class="pull-right">
        <button class="button"><%= link_to '任务变更', edit_objective_path(@objective) %></button>
    </div>
    <% end %>
    
    <p class="date">发布者：<%= @objective.user.name%></p>

    <p class="date">
        发布时间：
        <%= time_ago_in_words(@objective.created_at.to_date) %>前
    </p>
    <br>
    <p class="date">
        <h4>计划于<%= @objective.f_date %>完成，共计<%= (@objective.f_date.to_date - @objective.created_at.to_date).to_i + 1 %></h4>
    </p>
    <br>
    <h3>任务如下：</h3>

    <p class="body">
        <%= @objective.task %>
    </p>
    <p class="body">
        <%= @objective.second %>
    </p>
    <p class="body">
        <%= @objective.third %>
    </p>

</div>

<br>

<div id="objective_content">
    <% if current_user && current_user == @objective.user %>
    <%= link_to '任务开始', new_objective_post_path(@objective), class: "btn btn-primary" %>
    <% end %>
    <%= link_to '完成情况', objective_posts_path(@objective), class: "btn btn-primary" %>
    <br>
    <tr></tr>

    <br>
    <h4>
        任务已开始 <%= (Time.now.to_date - @objective.created_at.to_date ).to_i + 1 %> 天。 已完成 <%= @objective.posts.count %> 步 离完成目标还有 <%= (@objective.f_date.to_date - @objective.created_at.to_date).to_i - @objective.posts.count + 1 %> 步
    </h4>
</div>
<hr>
<div id="objective_content">
    <div id="posts">
        <h3><%= @objective.comments.count %>
            条评论</h3>
        <br>
        <%= render @objective.comments %>

        <%= render "comments/form" %>
    </div>
</div>
