<div id="objective_content">
    <h2>
        完成进度
    </h2>
    <br>
    <% if current_user && current_user == @objective.user %>
    <div class="pull-right" style="padding-bottom: 20px;">
        <%= link_to("继续任务", new_objective_post_path, class: "btn btn-primary btn-sm") %>
    </div>
    <% end %>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td width="16%">任务单号</td>
                <td width="16%"><%= @objective.task %></td>
                <td width="16%"><%= @objective.second %></td>
                <td width="16%"><%= @objective.third %></td>
                <% if current_user && current_user == @objective.user %>
                <td width="16%">任务管理</td>
                <% end %>
                <td width="20%">完成时间</td>
            </tr>
        </thead>
        <tbody>
            <% @posts.each do |post| %>
            <tr>
                <th>
                    第 <%= (post.created_at.to_date - @objective.created_at.to_date).to_i + 1 %> 天
                </th>
                <th>
                    <%= post.first %>
                </th>
                <th>
                    <%= post.second %>
                </th>
                <th>
                    <%= post.third %>
                </th>
                <% if current_user && current_user == @objective.user %>
                <th>
                    <%= link_to("修改", edit_objective_post_path(post.objective, post)) %> |
                    <%= link_to("删除", objective_post_path(post.objective, post), method: :delete, data: { confirm: "你确定吗？"} ) %>
                </th>
                <% end %>
                <th><%= post.created_at.strftime("%B, %d, %Y") %></th>
            </tr>
            <% end %>
        </tbody>
    </table>

</div>

<div id="objective_content">
    <div id="posts">
        <h3><%= @objective.comments.count %>
            条评论</h3>
        <br>
        <%= render @objective.comments %>

        <%= render "comments/form" %>
    </div>
</div>
