<!DOCTYPE html>
<html>
    <head>
        <title>Life's GM</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>

    <body>
        <div id="sidebar">
            <div id="logo">
                <%= link_to root_path do %>
                <%= image_tag "logo.png" %>
                <% end %>
            </div>

            <ul>
                <li class="category">Life's Game</li>
                <li><%= link_to "任务清单", root_path %></li>
                <li>关于</li>
            </ul>

            <ul>
                <li class="category">联系</li>
                <li>
                    <a href="https://github.com/BrightestStar">Github</a>
                </li>
                <li>
                    <a href="mailto:d219499406@gmail.com">Email</a>
                </li>
            </ul>


            <p class="sign_in"> Admin Login </p>

        </div>

        <div id="main_content">
            <div id="header">
                <p>All Posts</p>
                <div class="buttons">
                    <button class="button"><%= link_to "新增目标", new_admin_objective_path %></button>
                    <button class="button">Log Out</button>
                </div>
            </div>

            <% flash.each do |name, msg| %>
            <%= content_tag(:div, msg, class: "alert") %>
            <% end %>

            <%= yield %>
        </div>
    </body>
</html>
